@use "../styles/api" as *;

.hello {
	display: flex;
	align-self: center;
	flex-direction: column;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 100vw;
	height: 100vh;

	font-size: 2rem;
	background: transparent;

	@include respond-to-m {
		max-width: 1200px;
	}

	> * {
		border: 1em solid get-color(primary);
		padding: get-space(6);
		background: get-color("white");
		height: 100%;
		width: 100%;
		@include respond-to-m {
			max-width: 1200px;
			height: auto;
		}
		@include dark {
			background: get-color("black");
			color: get-color("white");
		}
		@include set-var(shadow-color, tint("pink", 50%));
		@include shadow;
	}
}
