.document-list {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-size: 0.9rem;
	font-weight: 500;
}

.document-list-item {
	font-size: 1rem;
	width: 100%;
	text-align: left;
	padding-inline: var(--sidebar-widget-padding);
	padding-block: var(--space-2);
	cursor: default;
	user-select: none;
	display: flex;

	&[aria-pressed="true"] {
		background: var(--selected-fill);
		color: var(--selected-line);
		&:last-child {
			border-bottom-left-radius: calc(var(--sidebar-widget-radius));
			border-bottom-right-radius: calc(var(--sidebar-widget-radius));
		}
	}
}

.document-list-item__name {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	display: block;
	margin-left: var(--space-2);
}

.document-list-item__expander {
	height: 1em;
	width: 1em;
	margin-left: auto;
}

.document-list [role="treeitem"]:last-of-type .document-list__button {
	border-end-start-radius: calc(var(--sidebar-widget-radius) - 1px);
	border-end-end-radius: calc(var(--sidebar-widget-radius) - 1px);
}
