@import "dockview-core/dist/styles/dockview.css";
:root {
	--dv-paneview-active-outline-color: var(--primary);
	--dv-tabs-and-actions-container-font-size: 1rem;
	--dv-tabs-and-actions-container-height: 2rem;
	--dv-drag-over-background-color: color-mix(
		in srgb,
		var(--blue-crayola),
		transparent
	);
	--dv-drag-over-border-color: var(--blue-crayola);
	--dv-tabs-container-scrollbar-color: #888;
	--dv-icon-hover-background-color: rgba(255, 255, 255, 0.5);
	--dv-floating-box-shadow: 1px 1px var(--dock-line), 2px 2px var(--dock-line),
		3px 3px var(--dock-line), 4px 4px var(--dock-line),
		0 0 4px color-mix(in srgb, var(--dock-line), transparent 80%);
	--dv-overlay-z-index: 999;
	--dv-tab-divider-color: var(--dock-line);

	--dv-group-view-background-color: var(--dock-fill);
	--dv-tabs-and-actions-container-background-color: var(--dock-fill);

	--dock-item-fill--active: var(--carribean-current);
	--dock-item-line--active: white;
	--dv-activegroup-visiblepanel-tab-background-color: var(
		--dock-item-fill--active
	);
	--dv-activegroup-visiblepanel-tab-color: var(--dock-item-line--active);

	--dv-activegroup-hiddenpanel-tab-background-color: color-mix(
		in srgb,
		var(--dock-fill),
		var(--dock-line) 5%
	);
	--dv-activegroup-hiddenpanel-tab-color: var(--dock-line);

	--dv-inactivegroup-visiblepanel-tab-background-color: color-mix(
		in srgb,
		var(--dv-activegroup-hiddenpanel-tab-background-color),
		var(--dv-activegroup-visiblepanel-tab-background-color) 30%
	);
	--dv-inactivegroup-visiblepanel-tab-color: black;

	--dv-inactivegroup-hiddenpanel-tab-background-color: color-mix(
		in srgb,
		var(--dock-fill),
		var(--dv-activegroup-hiddenpanel-tab-background-color) 20%
	);
	--dv-inactivegroup-hiddenpanel-tab-color: black;

	--dv-separator-border: var(--workspace-separator-line);

	--dv-paneview-header-border-color: var(--dock-line);
}

.dv-dockview {
	width: 100% !important;
	height: 100% !important;
}

.dv-tabs-and-actions-container {
	/* width: 100%; */
	border-bottom: 1px solid var(--workspace-separator-line);
	.dv-tabs-container {
		scrollbar-width: none;
	}
}

.dv-resize-container .dv-resize-handle-right {
	width: 7px;
	right: -5px;
}
.dv-resize-container .dv-resize-handle-bottomright {
	height: 8px;
	width: 8px;
	right: -5px;
	bottom: -5px;
}
.dv-resize-container .dv-resize-handle-bottom {
	height: 8px;
	bottom: -5px;
}
