@use "../styles/api" as *;

.gutter {
	background: var(--sidebar-color-fill);
	background-repeat: no-repeat;
	background-position: 50%;
	width: 1px !important;
	@include respond-to-m {
		width: var(--space-3) !important;
	}
	&:hover {
		background: mix(var(--sidebar-color-fill), var(--sidebar-color-line) 2%);
	}
	&[style*="cursor"] {
		background: mix(var(--sidebar-color-fill), var(--sidebar-color-line) 4%);
	}
}

.gutter.gutter-vertical {
	cursor: ns-resize;
}

.gutter.gutter-horizontal {
	cursor: ew-resize;
}

.split {
	box-sizing: border-box;
}
