@use "styles/api" as *;

.topnav {
	--button-color-fill: var(--color-paper-200);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: var(--color-paper-200);
	border-bottom: solid 1px var(--color-paper-100);
	@include dark {
		background-color: var(--color-paper-950);
	}
}

.topnav-left {
	padding-left: var(--space-xs);
}

.topnav-middle {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topnav-right {
	padding-right: var(--space-xs);
}
