:root {
	--popmenu-fill: var(--page-line);
	--popmenu-line: var(--page-fill);
}

.popmenu {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	min-width: 220px;
	padding: var(--space-2);
	background-color: var(--popmenu-fill);
	color: var(--popmenu-line);
	border-radius: 7px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
	outline: none;
	transform-origin: var(--kb-menu-content-transform-origin);
	animation: contentHide 50ms ease-in forwards;
	&[data-expanded],
	&[data-open] {
		animation: contentShow 50ms ease-out;
	}
}

.popmenu__item {
	font-size: 1rem;
	line-height: 1;
	color: var(--popmenu-line);
	border-radius: 0;
	display: flex;
	align-items: center;
	min-height: 2em;
	padding-block: var(--space-1);
	padding-inline: var(--space-2);
	position: relative;
	user-select: none;
	outline: none;

	&[data-highlighted] {
		outline: none;
		background-color: var(--primary-dark);
	}
}

.popmenu__item--danger:hover {
	background: var(--danger);
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: scale(0.2);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes contentHide {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.2);
	}
}
