# editorconfig
# i keep an [[https://editorconfig.org/][editorconfig]] in my ~~~ so i have good default settings even if there is no ~.editorconfig~ in the project.


# [[file:notebook/docfiles/editor/formatters.org::*editorconfig][editorconfig:1]]
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 3

[*.rs]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.el]
indent_style = space
indent_size = 2

[*.rb]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2

[*.lisp]
indent_style = space
indent_size = 2
tab_width = 2

[*.el]
indent_style = space
indent_size = 2

[*.org]
indent_size = 8
tab_width = 8
# editorconfig:1 ends here
