@use "../base" as *;

.project-file-browser {
	background: get-color(white);
	border-top-left-radius: get-radius(m);
	border-top-right-radius: get-radius(m);
	@include dark {
		background: get-color(white);
		color: get-color(black);
	}
}

.project-file-browser-heading {
	background: get-color(primary-300);
	align-items: center;
	justify-content: center;
	padding-inline: get-space(4);
	padding-block: get-space(2);
	text-align: center;
	border-top-left-radius: get-radius(m);
	border-top-right-radius: get-radius(m);
	display: flex;
	font-weight: bold;
	gap: get-space(2);
	position: sticky;
	@include dark {
		background: get-color(primary-800);
	}
}
