:root {
	--pop-menu-highlight: var(--carribean-current);
	--pop-menu-fill: white;
	--pop-menu-line: black;
}

.pop-menu__trigger:hover {
	color: var(--pop-menu-highlight);
}

.pop-menu__trigger:focus-visible {
	outline: 2px solid var(--pop-menu-highlight);
	outline-offset: 2px;
}

.pop-menu__trigger:active {
	color: var(--pop-menu-highlight);
}

.pop-menu__content,
.pop-menu__sub-content {
	min-width: 100px;
	padding: 0px;
	background-color: var(--pop-menu-fill);
	border-radius: 8px;
	border: 1px solid var(--pop-menu-line);
	box-shadow: -1px -1px var(--pop-menu-line), 1px 1px var(--pop-menu-line),
		2px 2px var(--pop-menu-line), 3px 3px var(--pop-menu-line);
	outline: none;
	transform-origin: var(--kb-menu-content-transform-origin);
	animation: contentHide 250ms ease-in forwards;
	overflow: hidden;
}
.pop-menu__content[data-expanded],
.pop-menu__sub-content[data-expanded] {
	animation: contentShow 250ms ease-out;
}
.pop-menu__item,
.pop-menu__checkbox-item,
.pop-menu__radio-item,
.pop-menu__sub-trigger {
	font-size: 1em;
	line-height: 1;
	color: hsl(240 4% 16%);
	display: flex;
	align-items: center;
	height: 32px;
	padding: 0 8px 0 8px;
	position: relative;
	user-select: none;
	outline: none;
}
.pop-menu__item[data-disabled],
.pop-menu__checkbox-item[data-disabled],
.pop-menu__radio-item[data-disabled],
.pop-menu__sub-trigger[data-disabled] {
	color: hsl(240 5% 65%);
	opacity: 0.5;
	pointer-events: none;
}
.pop-menu__item[data-highlighted],
.pop-menu__checkbox-item[data-highlighted],
.pop-menu__radio-item[data-highlighted],
.pop-menu__sub-trigger[data-highlighted] {
	outline: none;
	background-color: var(--pop-menu-highlight);
	color: var(--pop-menu-fill);
}
.pop-menu__group-label {
	padding: 0 24px;
	font-size: 14px;
	line-height: 32px;
	color: hsl(240 4% 46%);
}
.pop-menu__separator {
	height: 1px;
	border-top: 1px solid hsl(240 6% 90%);
	margin: 6px;
}
.pop-menu__item-indicator {
	position: absolute;
	left: 0;
	height: 20px;
	width: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.pop-menu__item-right-slot {
	margin-left: auto;
	padding-left: 20px;
	font-size: 1em;
	color: hsl(240 4% 46%);
}
[data-highlighted] > .pop-menu__item-right-slot {
	color: var(--pop-menu-fill);
}
[data-disabled] .pop-menu__item-right-slot {
	color: hsl(240 5% 65%);
	opacity: 0.5;
}
@keyframes contentShow {
	from {
		opacity: 0;
		transform: scale(0.96);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes contentHide {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.96);
	}
}
