@use "vars" as *;
$border-width-namespace: "border-width";
@function get-border-width($name: "default") {
	@return get-var($name, $border-width-namespace);
}

$border-radius-namespace: "radius" !default;
@function get-radius($name: "default") {
	@return get-var($name, $border-radius-namespace);
}

@mixin radius($name: default, $dir: all) {
	$radius: get-var($name, "radius");
	@if $dir == "top" {
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
	} @else if $dir == "right" {
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	} @else if $dir == "bottom" {
		border-bottom-left-radius: $radius;
		border-bottom-right-radius: $radius;
	} @else if $dir == "left" {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	} @else if $dir == "all" {
		@include radius($name, top);
		@include radius($name, bottom);
	}
}
