@mixin radius($name: false, $dir: all) {
	$radius: "";
	@if $name {
		$radius: var(--radius-#{$name});
	} @else {
		$radius: var(--radius);
	}

	@if $dir == "top" {
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
	} @else if $dir == "right" {
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	} @else if $dir == "bottom" {
		border-bottom-left-radius: $radius;
		border-bottom-right-radius: $radius;
	} @else if $dir == "left" {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	} @else if $dir == "all" {
		@include radius($name, top);
		@include radius($name, bottom);
	}
}
