@use "sass:map";
@use "vars" as *;
$shadow-namespace: "shadow";

$shadows: (
	xs: (
		x: 0,
		y: 1px,
		spread: 2px,
		offset: 0,
	),
	s: (
		x: 0,
		y: 1px,
		spread: 3px,
		offset: 0,
	),
	default: (
		color: color-mix(in oklch, get-color(fill), get-color(line)),
		x: 0,
		y: 4px,
		spread: 6px,
		offset: -1px,
	),
	l: (
		x: 0,
		y: 6px,
		spread: 12px,
		offset: -4px,
	),
	xl: (
		x: 0,
		y: 18px,
		spread: 24px,
		offset: -6px,
	),
) !default;

@function get-shadow-var($prop) {
	@return get-var($prop, $shadow-namespace);
}
@mixin set-shadow-var($prop, $value) {
	@include set-var($prop, $value, $shadow-namespace);
}

@mixin set-shadow-direct($shadow: default) {
	@include set-vars($shadow, $shadow-namespace);
}
@mixin set-shadow($shadow-name: default) {
	@include set-shadow-direct(map.get($shadows, $shadow-name));
}

@mixin shadow {
	box-shadow: get-shadow-var(inset) get-shadow-var(color) get-shadow-var(x)
		get-shadow-var(y) get-shadow-var(spread) get-shadow-var(offset);
}
