*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--family-ui: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	--family-mono: Iosveka, monospace;
	font-family: var(--family-ui);
	background-color: var(--color-fill);
	color: var(--color-line);
	--color-fill-offset-0: color-mix(in srgb,
			var(--color-fill) 98%,
			var(--color-line));
	--color-fill-offset-1: color-mix(in srgb,
			var(--color-fill) 96%,
			var(--color-line));
	--color-line-offset: var(--color-line);
	--color-fill-offset-2: color-mix(in srgb,
			var(--color-fill) 94%,
			var(--color-line));
	--color-fill-offset-2: color-mix(in srgb,
			var(--color-fill) 94%,
			var(--color-line));
	--color-separator-offset: color-mix(in srgb,
			var(--color-fill) 92%,
			var(--color-line));
	--color-shadow-offset: color-mix(in srgb,
			var(--color-fill) 90%,
			var(--color-line));
	--color-fill-sidebar: var(--color-fill-offset-1);
	--color-line-sidebar: var(--color-line-offset);
	--color-fill-code: var(--color-fill-offset-1);
	--color-line-code: var(--color-line-offset);
	--color-fill-button: var(--color-fill);
	--color-line-button: var(--color-line);
	--color-border-button: var(--color-separator-offset);
	--color-fill-button-press: var(--color-fill-offset-1);
	--color-fill-sidebar: var(--color-fill-offset-1);
	--color-line-sidebar: var(--color-line-offset);
	--color-separator-sidebar: var(--color-separator-offset);
	--radius-card: var(--radius);
	font-synthesis: none;
	text-rendering: optimizeLegibility;

	box-sizing: border-box;
	overscroll-behavior: none;
	height: 100%;
}

html:not([theme]) {
	--color-fill: #ffe9ed;
	--color-line: #201;
	--color-card-fill: white;
	--color-card-outline: #cc2859;
	--color-card-line: var(--color-line);
	--radius: 8px;
	--color-page-line: var(--color-line);
	--color-page-fill: white;
	--color-fill-selected: #38f8c0;
	--color-line-selected: #254;
	--color-placeholder-line: #978;
	--color-fill-unread: #38f8c0;
	--color-line-unread: #4db592;
}

html,
body {
	margin: 0;
}

body {
	font-family: var(--family-ui);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	min-height: 100%;
	width: 100%;
	display: flex;
}

img {
	max-width: 100%;
	image-rendering: pixelated;
}

code {
	font-family: var(--family-mono);
}

textarea,
input,
button {
	font-size: 1rem;
	font-family: inherit;
	background-color: transparent;
	color: var(--color-line-button);
	border: 1px solid transparent;
	line-height: 1.25;
	margin: 0;
	border-radius: 4px;
}

button:hover {
	border: 1px solid var(--color-border-button);
}

button:active {
	background: var(--color-fill-button-press);
}

.for-screenreaders {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

#littlebook {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

[role="separator"] {
	width: 2px;
}

#main {
	width: 100%;
	height: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

#main .card {
	height: 100%;
}

flex-box {
	display: flex;
}

flex-box[column] {
	flex-direction: column;
}

flex-box[justify] {
	justify-content: center;
}

flex-box[align] {
	align-items: center;
}
