@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--littlebook-white: white;
		--littlebook-black: black;
		--littlebook-gray-50: #f6f6f5;
		--littlebook-gray-100: #e7e7e6;
		--littlebook-gray-200: #d1d1d0;
		--littlebook-gray-300: #b0b1af;
		--littlebook-gray-400: #888987;
		--littlebook-gray-500: #6d6e6c;
		--littlebook-gray-600: #5d5e5c;
		--littlebook-gray-700: #4e504e;
		--littlebook-gray-800: #454545;
		--littlebook-gray-900: #3d3d3c;
		--littlebook-gray-950: #262626;
		--littlebook-neutral-50: #f9f7f8;
		--littlebook-neutral-100: #f3f0f1;
		--littlebook-neutral-200: #e8e3e6;
		--littlebook-neutral-300: #d5ccd1;
		--littlebook-neutral-400: #bdafb7;
		--littlebook-neutral-500: #afa0a9;
		--littlebook-neutral-600: #887682;
		--littlebook-neutral-700: #70606b;
		--littlebook-neutral-800: #5f525b;
		--littlebook-neutral-900: #534850;
		--littlebook-neutral-950: #2c252a;
		--littlebook-stone-50: #f5f6f6;
		--littlebook-stone-100: #e4e7e9;
		--littlebook-stone-200: #ccd3d5;
		--littlebook-stone-300: #a9b4b7;
		--littlebook-stone-400: #7e8d92;
		--littlebook-stone-500: #637277;
		--littlebook-stone-600: #556065;
		--littlebook-stone-700: #495255;
		--littlebook-stone-800: #40464a;
		--littlebook-stone-900: #393d40;
		--littlebook-stone-950: #232629;
		--littlebook-red-50: #fff1f2;
		--littlebook-red-100: #ffdfe2;
		--littlebook-red-200: #ffc5cb;
		--littlebook-red-300: #ff9da7;
		--littlebook-red-400: #ff6474;
		--littlebook-red-500: #ff273d;
		--littlebook-red-600: #ed152b;
		--littlebook-red-700: #c80d20;
		--littlebook-red-800: #a50f1e;
		--littlebook-red-900: #881420;
		--littlebook-red-950: #4b040b;
		--littlebook-yellow-50: #fffbeb;
		--littlebook-yellow-100: #fdf3c8;
		--littlebook-yellow-200: #fce58b;
		--littlebook-yellow-300: #fad34f;
		--littlebook-yellow-400: #f8bf27;
		--littlebook-yellow-500: #f29e0e;
		--littlebook-yellow-600: #d67809;
		--littlebook-yellow-700: #b2540b;
		--littlebook-yellow-800: #904010;
		--littlebook-yellow-900: #773510;
		--littlebook-yellow-950: #441a04;
		--littlebook-lime-50: #edfff5;
		--littlebook-lime-100: #d5ffe9;
		--littlebook-lime-200: #aeffd3;
		--littlebook-lime-300: #70ffb2;
		--littlebook-lime-400: #2bfd8a;
		--littlebook-lime-500: #00ff74;
		--littlebook-lime-600: #00c053;
		--littlebook-lime-700: #009644;
		--littlebook-lime-800: #06753a;
		--littlebook-lime-900: #076032;
		--littlebook-lime-950: #00371a;
		--littlebook-green-50: #e9fff7;
		--littlebook-green-100: #cbffeb;
		--littlebook-green-200: #9bffdb;
		--littlebook-green-300: #36f9c0;
		--littlebook-green-400: #1becb6;
		--littlebook-green-500: #00d2a2;
		--littlebook-green-600: #00d4a0;
		--littlebook-green-700: #008a6d;
		--littlebook-green-800: #006c57;
		--littlebook-green-900: #005949;
		--littlebook-green-950: #00322c;
		--littlebook-emerald-50: #ebfef7;
		--littlebook-emerald-100: #cffce9;
		--littlebook-emerald-200: #a4f6d8;
		--littlebook-emerald-300: #69ecc4;
		--littlebook-emerald-400: #2ddaab;
		--littlebook-emerald-500: #09c598;
		--littlebook-emerald-600: #009c79;
		--littlebook-emerald-700: #007d64;
		--littlebook-emerald-800: #026351;
		--littlebook-emerald-900: #035143;
		--littlebook-emerald-950: #002e27;
		--littlebook-teal-50: #edfefd;
		--littlebook-teal-100: #d2fbfa;
		--littlebook-teal-200: #aaf7f7;
		--littlebook-teal-300: #6ff0f1;
		--littlebook-teal-400: #2ddfe3;
		--littlebook-teal-500: #11c2c9;
		--littlebook-teal-600: #119ba9;
		--littlebook-teal-700: #157c89;
		--littlebook-teal-800: #1a6470;
		--littlebook-teal-900: #1a535f;
		--littlebook-teal-950: #0b3841;
		--littlebook-cyan-50: #ebfffd;
		--littlebook-cyan-100: #cdfffe;
		--littlebook-cyan-200: #a1feff;
		--littlebook-cyan-300: #74faff;
		--littlebook-cyan-400: #1aebf6;
		--littlebook-cyan-500: #00cedc;
		--littlebook-cyan-600: #01a4b9;
		--littlebook-cyan-700: #098295;
		--littlebook-cyan-800: #116879;
		--littlebook-cyan-900: #135666;
		--littlebook-cyan-950: #063946;
		--littlebook-sky-50: #eff9ff;
		--littlebook-sky-100: #dff3ff;
		--littlebook-sky-200: #b8e8ff;
		--littlebook-sky-300: #78d7ff;
		--littlebook-sky-400: #31c3ff;
		--littlebook-sky-500: #06acf1;
		--littlebook-sky-600: #0089ce;
		--littlebook-sky-700: #006ea7;
		--littlebook-sky-800: #025c8a;
		--littlebook-sky-900: #084d72;
		--littlebook-sky-950: #06304b;
		--littlebook-blue-50: #eef7ff;
		--littlebook-blue-100: #d9ebff;
		--littlebook-blue-200: #bcddff;
		--littlebook-blue-300: #8ec9ff;
		--littlebook-blue-400: #59aaff;
		--littlebook-blue-500: #3388ff;
		--littlebook-blue-600: #1b67f5;
		--littlebook-blue-700: #1452e1;
		--littlebook-blue-800: #1742b6;
		--littlebook-blue-900: #193b8f;
		--littlebook-blue-950: #142557;
		--littlebook-indigo-50: #fcf7fc;
		--littlebook-indigo-100: #f9edfa;
		--littlebook-indigo-200: #f2dbf3;
		--littlebook-indigo-300: #e9bee7;
		--littlebook-indigo-400: #db97d7;
		--littlebook-indigo-500: #c76dc2;
		--littlebook-indigo-600: #aa4fa3;
		--littlebook-indigo-700: #8c3f84;
		--littlebook-indigo-800: #73356c;
		--littlebook-indigo-900: #602f5a;
		--littlebook-indigo-950: #3d1539;
		--littlebook-violet-50: #f6f2ff;
		--littlebook-violet-100: #ede8ff;
		--littlebook-violet-200: #ddd4ff;
		--littlebook-violet-300: #c6b1ff;
		--littlebook-violet-400: #aa85ff;
		--littlebook-violet-500: #8e4fff;
		--littlebook-violet-600: #8330f7;
		--littlebook-violet-700: #751ee3;
		--littlebook-violet-800: #6218bf;
		--littlebook-violet-900: #51169c;
		--littlebook-violet-950: #320b6a;
		--littlebook-purple-50: #f5f3ff;
		--littlebook-purple-100: #eee9fe;
		--littlebook-purple-200: #ded6fe;
		--littlebook-purple-300: #c6b5fd;
		--littlebook-purple-400: #aa8bfa;
		--littlebook-purple-500: #9767f7;
		--littlebook-purple-600: #813aed;
		--littlebook-purple-700: #7228d9;
		--littlebook-purple-800: #5f21b6;
		--littlebook-purple-900: #4f1d95;
		--littlebook-purple-950: #301065;
		--littlebook-fuchsia-50: #fff3fe;
		--littlebook-fuchsia-100: #ffe6fe;
		--littlebook-fuchsia-200: #ffccfc;
		--littlebook-fuchsia-300: #ffa3f8;
		--littlebook-fuchsia-400: #ff6df1;
		--littlebook-fuchsia-500: #ff21f2;
		--littlebook-fuchsia-600: #e316d2;
		--littlebook-fuchsia-700: #bd0eac;
		--littlebook-fuchsia-800: #9a0e8b;
		--littlebook-fuchsia-900: #7e116f;
		--littlebook-fuchsia-950: #55004a;
		--littlebook-pink-50: #fef1f7;
		--littlebook-pink-100: #fee5f0;
		--littlebook-pink-200: #ffcae4;
		--littlebook-pink-300: #ff9fcb;
		--littlebook-pink-400: #ff63a7;
		--littlebook-pink-500: #ff408b;
		--littlebook-pink-600: #f0125f;
		--littlebook-pink-700: #d10545;
		--littlebook-pink-800: #ad0739;
		--littlebook-pink-900: #8f0c34;
		--littlebook-pink-950: #580019;
		--littlebook-rose-50: #fff1f4;
		--littlebook-rose-100: #ffe9ed;
		--littlebook-rose-200: #fecdd8;
		--littlebook-rose-300: #fda4b9;
		--littlebook-rose-400: #fb7194;
		--littlebook-rose-500: #e11d5d;
		--littlebook-rose-600: #cc2959;
		--littlebook-rose-700: #b81e47;
		--littlebook-rose-800: #981c3b;
		--littlebook-rose-900: #7f1c35;
		--littlebook-rose-950: #4d0a1b;
	}

	:root[theme=cherries],
	:root:not([theme]) {
		--littlebook-yes-50: var(--littlebook-green-50);
		--littlebook-yes-100: var(--littlebook-green-100);
		--littlebook-yes-200: var(--littlebook-green-200);
		--littlebook-yes-300: var(--littlebook-green-300);
		--littlebook-yes-400: var(--littlebook-green-400);
		--littlebook-yes-500: var(--littlebook-green-500);
		--littlebook-yes-600: var(--littlebook-green-600);
		--littlebook-yes-700: var(--littlebook-green-700);
		--littlebook-yes-800: var(--littlebook-green-800);
		--littlebook-yes-900: var(--littlebook-green-900);
		--littlebook-yes-950: var(--littlebook-green-950);

		--littlebook-cover-50: var(--littlebook-rose-50);
		--littlebook-cover-100: var(--littlebook-rose-100);
		--littlebook-cover-200: var(--littlebook-rose-200);
		--littlebook-cover-300: var(--littlebook-rose-300);
		--littlebook-cover-400: var(--littlebook-rose-400);
		--littlebook-cover-500: var(--littlebook-rose-500);
		--littlebook-cover-600: var(--littlebook-rose-600);
		--littlebook-cover-700: var(--littlebook-rose-700);
		--littlebook-cover-800: var(--littlebook-rose-800);
		--littlebook-cover-900: var(--littlebook-rose-900);
		--littlebook-cover-950: var(--littlebook-rose-950);
	}

	:root[theme=mynt] {
		--littlebook-yes-50: var(--littlebook-green-50);
		--littlebook-yes-100: var(--littlebook-green-100);
		--littlebook-yes-200: var(--littlebook-green-200);
		--littlebook-yes-300: var(--littlebook-green-300);
		--littlebook-yes-400: var(--littlebook-green-400);
		--littlebook-yes-500: var(--littlebook-green-500);
		--littlebook-yes-600: var(--littlebook-green-600);
		--littlebook-yes-700: var(--littlebook-green-700);
		--littlebook-yes-800: var(--littlebook-green-800);
		--littlebook-yes-900: var(--littlebook-green-900);
		--littlebook-yes-950: var(--littlebook-green-950);

		--littlebook-cover-50: var(--littlebook-green-50);
		--littlebook-cover-100: var(--littlebook-green-100);
		--littlebook-cover-200: var(--littlebook-green-200);
		--littlebook-cover-300: var(--littlebook-green-300);
		--littlebook-cover-400: var(--littlebook-green-400);
		--littlebook-cover-500: var(--littlebook-green-500);
		--littlebook-cover-600: var(--littlebook-green-600);
		--littlebook-cover-700: var(--littlebook-green-700);
		--littlebook-cover-800: var(--littlebook-green-800);
		--littlebook-cover-900: var(--littlebook-green-900);
		--littlebook-cover-950: var(--littlebook-green-950);
	}

	:root[theme=sky] {
		--littlebook-yes-50: var(--littlebook-blue-50);
		--littlebook-yes-100: var(--littlebook-blue-100);
		--littlebook-yes-200: var(--littlebook-blue-200);
		--littlebook-yes-300: var(--littlebook-blue-300);
		--littlebook-yes-400: var(--littlebook-blue-400);
		--littlebook-yes-500: var(--littlebook-blue-500);
		--littlebook-yes-600: var(--littlebook-blue-600);
		--littlebook-yes-700: var(--littlebook-blue-700);
		--littlebook-yes-800: var(--littlebook-blue-800);
		--littlebook-yes-900: var(--littlebook-blue-900);
		--littlebook-yes-950: var(--littlebook-blue-950);

		--littlebook-cover-50: var(--littlebook-cyan-50);
		--littlebook-cover-100: var(--littlebook-cyan-100);
		--littlebook-cover-200: var(--littlebook-cyan-200);
		--littlebook-cover-300: var(--littlebook-cyan-300);
		--littlebook-cover-400: var(--littlebook-cyan-400);
		--littlebook-cover-500: var(--littlebook-cyan-500);
		--littlebook-cover-600: var(--littlebook-cyan-600);
		--littlebook-cover-700: var(--littlebook-cyan-700);
		--littlebook-cover-800: var(--littlebook-cyan-800);
		--littlebook-cover-900: var(--littlebook-cyan-900);
		--littlebook-cover-950: var(--littlebook-cyan-950);
	}

	@prefers-color-scheme(dark) {
		:root {
			body: black;
		}
	}
}
