@use "styles" as *;

:root {
	--card-radius: var(--radius-l);
	--card-color-fill: var(--color-fill);
	--card-color-line: var(--color-line);
}

.card {
	background: var(--card-color-fill);
	color: var(--card-line);
	border-radius: var(--card-radius);
	display: block;
	@include shadow;
}

.card-item {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	background: inherit;
	color: inherit;
	gap: var(--space-1);
	padding-inline: var(--space-3);
	padding-block: var(--space-2);
	width: 100%;

	&:is(a, button)[aria-current="page"] {
		background: var(--color-primary-300);
		@include dark {
			background: var(--color-primary-800);
		}
	}

	&:is(a, button):not([aria-current="page"]):hover {
		background: var(--color-primary-50);
		@include dark {
			background: var(--color-primary-950);
		}
	}

	.card > &:first-child {
		border-top-left-radius: var(--card-radius);
		border-top-right-radius: var(--card-radius);
	}

	.card > &:last-child {
		border-bottom-left-radius: var(--card-radius);
		border-bottom-right-radius: var(--card-radius);
	}

	font-weight: 500;
}

.card-header {
	display: flex;
	justify-content: space-between;
	padding-inline: var(--space-3);
	padding-block: var(--space-2);
	font-weight: 600;
	font-size: 1.2rem;
	border-bottom: 1px solid
		mix(var(--color-secondary-100) 50%, var(--card-color-fill));
}
