.card-link {
	white-space: nowrap;
	position: relative;
}

.card-link> :is(a, .card-link-inner) {
	text-decoration: none;
	padding: 0.5em 1em;
	display: block;
	display: flex;
	color: var(--color-card-line);
}

.card-content.p-0 li:not(:first-child, :last-child) .card-link .card-link-anchor,
.card-content.p-0:has(+ .card-header) li:first-child .card-link .card-link-anchor {
	border-radius: 0 !important;
}

.card-content.p-0 li:first-child:not(:last-child) .card-link .card-link-anchor {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.card-content.p-0 li:last-child:not(:first-child) .card-link .card-link-anchor {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.card-link-title {
	white-space: nowrap;
	display: flex;
	gap: 0.5em;
	flex: 1;
	font-weight: 500;
	overflow: hidden;
}

.card-link-title__text {
	padding: 0 2px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-link__unread {
	background: var(--color-fill-unread);
	color: color-mix(in srgb, var(--color-fill-unread) 60%, var(--color-line));
	border: 1px solid;
	width: 2em;
	height: 2em;
	display: flex;
	text-align: center;
	align-self: center;
	align-items: center;
	justify-content: center;
	border-radius: 2em;
	font-size: 0.75em;
	position: absolute;
	right: 0;
}
