.toast-list {
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 8px;
	width: 400px;
	max-width: 100vw;
	margin: 0;
	list-style: none;
	z-index: 9999;
	outline: none;
}

.toast {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--space-2);
	border: 1px solid var(--page-dark);
	border-radius: 6px;
	padding: var(--space-3);
	background-color: var(--page);
	box-shadow:
		0 10px 15px -3px rgba(0 0 0 0.1),
		0 4px 6px -4px rgba(0 0 0 0.1);
	position: relative;
}

.toast[data-opened] {
	animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.toast[data-closed] {
	animation: hide 100ms ease-in;
}

.toast[data-swipe="move"] {
	transform: translateX(var(--kb-toast-swipe-move-x));
}

.toast[data-swipe="cancel"] {
	transform: translateX(0);
	transition: transform 200ms ease-out;
}

.toast[data-swipe="end"] {
	animation: swipeOut 100ms ease-out;
}

.toast__content {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.toast__close {
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	margin-left: auto;
	color: hsl(240 5% 34%);
}

.toast__title {
	font-size: var(--font-size-6);
	font-weight: 500;
	color: hsl(240 6% 10%);
}

.toast__body {
	font-size: var(--font-size-7);
	color: hsl(240 5% 26%);
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes slideIn {
	from {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}
	to {
		transform: translateX(0);
	}
}
@keyframes swipeOut {
	from {
		transform: translateX(var(--kb-toast-swipe-end-x));
	}
	to {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}
}
