@use "../styles/api" as *;

.project-file-browser {
	background: get-color(white);
	border-top-left-radius: get-radius(m);
	border-top-right-radius: get-radius(m);
	height: 100%;
	min-height: 40vh;
	width: 100%;
	overflow: auto;
	@include dark {
		background: get-color(black);
		color: get-color(white);
	}
}

.file-browser-area,
.content-view-area {
	width: 100%;
	height: 50%;
}

.project-file-browser-heading {
	background: get-color(primary-300);
	align-items: center;
	justify-content: center;
	padding-inline: get-space(4);
	padding-block: get-space(2);
	text-align: center;
	border-top-left-radius: get-radius(m);
	border-top-right-radius: get-radius(m);
	display: flex;
	font-weight: bold;
	gap: get-space(2);
	position: sticky;
	top: 0;
	@include dark {
		background: get-color(primary-800);
	}
}

.project-file-browser-body {
	padding: get-space(2);
}

.project-file-browser table {
	width: 100%;
}

.project-file-browser tr {
}

.project-file-browser tr[aria-current="true"] {
	background: get-color(primary);
}

.project-file-browser a {
	text-decoration: none;
	color: get-color(black);
	&.active {
		background: get-color(primary);
	}
}

.project-gutter {
	height: 1em;
}
