@use "styles" as *;

:root {
	--gutter-color-fill: var(--color-primary);

	--headstrip-item-size: 1.6rem;
	--headstrip-space-block: var(--space-2);
	// --headstrip-color-border: var(--color-paper-200);
	--headstrip-height: 40px;

	// todo content elsewhere
	--content-color-fill: var(--color-fill);
	--content-color-line: var(--color-line);
}

.headstrip {
	display: flex;
	border-bottom: 1px solid var(--headstrip-color-border);
	padding-block: var(--headstrip-space-block);
	align-items: center;
	gap: var(--space-1);
	max-height: var(--headstrip-height);
	min-height: var(--headstrip-height);
	padding-left: var(--space-1);
	justify-content: space-between;
}

.space {
	display: flex;
	flex: 1;
	background-color: var(--sidebar-color-fill);
}

.space-areas {
	// todo this should just be `color-paper` but then the theming stuff would need to be improved
	background-color: var(--color-fill);
	// display: flex;

	@include dark {
		background: black;
		color: white;
	}

	height: 100vh;
	overflow: scroll;
}

[data-corvu-resizable-root] {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
[data-corvu-resizable-panel] {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gutter,
[data-corvu-resizable-handle] {
	position: relative;
	// background-color: var(--color-fill);

	&:hover,
	&[data-active] {
		transition: background-color 0.5s;
		background-color: var(--gutter-color-fill);
	}

	&[data-dragging],
	&:active {
		transition: none;
	}
	padding: 2.5px;
}

.gutter.gutter-vertical {
	cursor: ns-resize;
}

.gutter.gutter-horizontal {
	cursor: ew-resize;
}
