.error {
	font-family: var(--family-mono);
	white-space: pre-wrap;

	background: #333;
	color: #9ff;
	summary {
		white-space: pre-line;
	}
	pre {
		line-height: 1.4;
		padding: 1rem;
		background: #123;
		color: #fff;
		white-space: pre-wrap;
		font-size: 0.8rem;
	}
}
