@use "styles" as *;

.sw-please-reload {
	position: fixed;
	right: var(--space-4);
	bottom: var(--space-4);
	background: var(--color-fill);
	gap: var(--space-3);
	display: flex;
	flex-direction: column;
	width: 10em;
	z-index: 1000;
	padding: var(--space-4);
	--shadow-color: shade(var(--color-rose), 20%);
	@include shadow;
	@include radius;
}
