@use "../api" as *;

:root {
	--button-border-width: 2px;
	--button-color-fill: white;
	--button-color-line: black;
	--button-color-shadow: var(--shadow-color);
}

.button {
	transition: 0.2s box-shadow;
	background: var(--button-color-fill);
	color: var(--button-color-line);
	display: inline-flex;
	flex-direction: row;
	gap: var(--space-3);
	padding-block: var(--space-3);
	padding-inline: var(--space-4);
	justify-content: space-evenly;
	cursor: pointer;
	@include radius(m);
	font-family: var(--family-sans);
	--ring-width: 3px;
	box-shadow: ring();

	&:not(.ghost:not(:hover)) {
		box-shadow: ring(), shadow();
		--ring-color: var(--button-color-line);
	}

	&:hover {
		--shadow-color: fade(black, 85%);
	}
	&:active {
		--shadow-inset: "inset";
		--shadow-color: fade(black, 80%);
	}

	&.is-primary {
		background: var(--color-primary);
	}
	&.small {
		font-size: 0.875em;
		padding: var(--space-2);
	}
}

.buttons {
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;
	gap: var(--space-2);
}
