@use "../api/colors" as colors;

:root {
	--color-stone-50: #f5f6f6;
	--color-stone-100: #e4e7e9;
	--color-stone-200: #ccd3d5;
	--color-stone-300: #a9b4b7;
	--color-stone-400: #7e8d92;
	--color-stone-500: #637277;
	--color-stone-600: #556065;
	--color-stone-700: #495255;
	--color-stone-800: #40464a;
	--color-stone-900: #393d40;
	--color-stone-950: #232629;

	--color-red-50: #fff1f2;
	--color-red-100: #ffdfe2;
	--color-red-200: #ffc5cb;
	--color-red-300: #ff9da7;
	--color-red-400: #ff6474;
	--color-red-500: #ff273d;
	--color-red-600: #ed152b;
	--color-red-700: #c80d20;
	--color-red-800: #a50f1e;
	--color-red-900: #881420;
	--color-red-950: #4b040b;

	--color-lime-50: #edfff5;
	--color-lime-100: #d5ffe9;
	--color-lime-200: #aeffd3;
	--color-lime-300: #70ffb2;
	--color-lime-400: #2bfd8a;
	--color-lime-500: #00ff74;
	--color-lime-600: #00c053;
	--color-lime-700: #009644;
	--color-lime-800: #06753a;
	--color-lime-900: #076032;
	--color-lime-950: #00371a;

	--color-green-50: #e9fff7;
	--color-green-100: #cbffeb;
	--color-green-200: #9bffdb;
	--color-green-300: #36f9c0;
	--color-green-400: #1becb6;
	--color-green-500: #00d2a2;
	--color-green-600: #00d4a0;
	--color-green-700: #008a6d;
	--color-green-800: #006c57;
	--color-green-900: #005949;
	--color-green-950: #00322c;

	--color-emerald-50: #ebfef7;
	--color-emerald-100: #cffce9;
	--color-emerald-200: #a4f6d8;
	--color-emerald-300: #69ecc4;
	--color-emerald-400: #2ddaab;
	--color-emerald-500: #09c598;
	--color-emerald-600: #009c79;
	--color-emerald-700: #007d64;
	--color-emerald-800: #026351;
	--color-emerald-900: #035143;
	--color-emerald-950: #002e27;

	--color-teal-50: #edfefd;
	--color-teal-100: #d2fbfa;
	--color-teal-200: #aaf7f7;
	--color-teal-300: #6ff0f1;
	--color-teal-400: #2ddfe3;
	--color-teal-500: #11c2c9;
	--color-teal-600: #119ba9;
	--color-teal-700: #157c89;
	--color-teal-800: #1a6470;
	--color-teal-900: #1a535f;
	--color-teal-950: #0b3841;

	--color-cyan-50: #ebfffd;
	--color-cyan-100: #cdfffe;
	--color-cyan-200: #a1feff;
	--color-cyan-300: #74faff;
	--color-cyan-400: #1aebf6;
	--color-cyan-500: #00cedc;
	--color-cyan-600: #01a4b9;
	--color-cyan-700: #098295;
	--color-cyan-800: #116879;
	--color-cyan-900: #135666;
	--color-cyan-950: #063946;

	--color-sky-50: #eff9ff;
	--color-sky-100: #dff3ff;
	--color-sky-200: #b8e8ff;
	--color-sky-300: #78d7ff;
	--color-sky-400: #31c3ff;
	--color-sky-500: #06acf1;
	--color-sky-600: #0089ce;
	--color-sky-700: #006ea7;
	--color-sky-800: #025c8a;
	--color-sky-900: #084d72;
	--color-sky-950: #06304b;

	--color-blue-50: #eef7ff;
	--color-blue-100: #d9ebff;
	--color-blue-200: #bcddff;
	--color-blue-300: #8ec9ff;
	--color-blue-400: #59aaff;
	--color-blue-500: #3388ff;
	--color-blue-600: #1b67f5;
	--color-blue-700: #1452e1;
	--color-blue-800: #1742b6;
	--color-blue-900: #193b8f;
	--color-blue-950: #142557;

	--color-indigo-50: #fcf7fc;
	--color-indigo-100: #f9edfa;
	--color-indigo-200: #f2dbf3;
	--color-indigo-300: #e9bee7;
	--color-indigo-400: #db97d7;
	--color-indigo-500: #c76dc2;
	--color-indigo-600: #aa4fa3;
	--color-indigo-700: #8c3f84;
	--color-indigo-800: #73356c;
	--color-indigo-900: #602f5a;
	--color-indigo-950: #3d1539;

	--color-purple-50: #f5f3ff;
	--color-purple-100: #eee9fe;
	--color-purple-200: #ded6fe;
	--color-purple-300: #c6b5fd;
	--color-purple-400: #aa8bfa;
	--color-purple-500: #9767f7;
	--color-purple-600: #813aed;
	--color-purple-700: #7228d9;
	--color-purple-800: #5f21b6;
	--color-purple-900: #4f1d95;
	--color-purple-950: #301065;

	--color-fuchsia-50: #fff3fe;
	--color-fuchsia-100: #ffe6fe;
	--color-fuchsia-200: #ffccfc;
	--color-fuchsia-300: #ffa3f8;
	--color-fuchsia-400: #ff6df1;
	--color-fuchsia-500: #ff21f2;
	--color-fuchsia-600: #e316d2;
	--color-fuchsia-700: #bd0eac;
	--color-fuchsia-800: #9a0e8b;
	--color-fuchsia-900: #7e116f;
	--color-fuchsia-950: #55004a;

	--color-pink-50: #fef1f7;
	--color-pink-100: #fee5f0;
	--color-pink-200: #ffcae4;
	--color-pink-300: #ff9fcb;
	--color-pink-400: #ff63a7;
	--color-pink-500: #ff408b;
	--color-pink-600: #f0125f;
	--color-pink-700: #d10545;
	--color-pink-800: #ad0739;
	--color-pink-900: #8f0c34;
	--color-pink-950: #580019;

	--color-rose-50: #fff1f4;
	--color-rose-100: #ffe9ed;
	--color-rose-200: #fecdd8;
	--color-rose-300: #fda4b9;
	--color-rose-400: #fb7194;
	--color-rose-500: #e11d5d;
	--color-rose-600: #cc2959;
	--color-rose-700: #b81e47;
	--color-rose-800: #981c3b;
	--color-rose-900: #7f1c35;
	--color-rose-950: #4d0a1b;

	--color-yellow-50: #fefbe8;
	--color-yellow-100: #fff6c2;
	--color-yellow-200: #ffec8a;
	--color-yellow-300: #ffd945;
	--color-yellow-400: #fcc313;
	--color-yellow-500: #ecaa06;
	--color-yellow-600: #cc8302;
	--color-yellow-700: #a25b06;
	--color-yellow-800: #86480d;
	--color-yellow-900: #723b11;
	--color-yellow-950: #431d05;

	--color-orange-50: #fff7ec;
	--color-orange-100: #ffedd3;
	--color-orange-200: #ffd8a5;
	--color-orange-300: #ffbb6d;
	--color-orange-400: #ff9232;
	--color-orange-500: #ff730a;
	--color-orange-600: #ff5900;
	--color-orange-700: #cc3e02;
	--color-orange-800: #a1310b;
	--color-orange-900: #822b0c;
	--color-orange-950: #461204;

	--color-red: #ff273d;
	--color-yellow: #ffec8a;
	--color-orange: #ff5900;
	--color-lime: #00ff74;
	--color-green: #36f9c0;
	--color-emerald: #09c598;
	--color-teal: #1a6470;
	--color-sky: #78d7ff;
	--color-blue: #3388ff;
	--color-indigo: #c76dc2;
	--color-purple: #7228d9;
	--color-fuchsia: #ff21f2;
	--color-pink: #ff408b;
	--color-rose: #ffe9ed;
	--color-cyan: #1aebf6;
	--color-stone: #40464a;

	--color-white: white;
	--color-black: black;
	--color-transparent: transparent;

	--color-selection: colors.fade(var(--color-primary), 20%);
}

::selection {
	background: var(--color-selection);
}
