:root {
	--shadow-inset: "";
	--shadow-x: 0;
	--shadow-y: 4px;
	--shadow-spread: 6px;
	--shadow-offset: -1px;
	--shadow-color-l: 0%;
	--shadow-color-c: 0;
	--shadow-color-h: 0;
	--shadow-color-a: 0.9;
	--shadow-color: oklch(
		var(--shadow-color-l) var(--shadow-color-c) var(--shadow-color-h) /
			var(var(--shadow-color-a))
	);

	--ring-color: var(--color-primary);
	--ring-width: 1px;
}
