@use "../api" as *;
@use "sass:math";
@use "sass:map";

@include set-root-vars(map.get($shadows, default), $shadow-namespace);
@include set-root-var(color, fade(black, 90%), shadow);
@include set-root-var(inset, "", shadow);

/* todo
$ring-namespace: "namespace";
$default-ring: (
		"offset": 0,
		inset: "",
		color: get-color("highlight"),
		size: 0,
	)!default;

@include set-root-vars(
	$default-ring,
	$ring-namespace
);
@function get-ring-var($prop) {
	@return get-var($prop, $ring-namespace);
}
@mixin set-ring-var($prop, $value) {
	@include set-var($prop, $value, $ring-namespace);
}
@mixin set-ring($ring) {
	@include set-vars($ring, $ring-namespace);
}

@mixin ring() {
	box-shadow: get-ring-var(inset) 0 0 0 get-ring-var(size) get-ring-var(color);
}

// todo
.has-ring {
}

 */
