@use "../api" as *;

:root {
	--space-0: 0;
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 24px;
	--space-6: 32px;
	--space-7: 48px;
	--space-px: 1px;

	--space-xs: var(--space-1);
	--space-s: var(--space-1);
	--space-m: var(--space-1);
	--space-l: var(--space-1);
	--space-xl: var(--space-1);
	--space-2xl: var(--space-1);

	@include respond-to-s {
		--space-xs: var(--space-1);
		--space-s: var(--space-2);
		--space-m: var(--space-2);
		--space-l: var(--space-3);
		--space-xl: var(--space-3);
		--space-2xl: var(--space-3);
	}

	@include respond-to-m {
		--space-xs: var(--space-2);
		--space-s: var(--space-3);
		--space-m: var(--space-3);
		--space-l: var(--space-4);
		--space-xl: var(--space-5);
		--space-2xl: var(--space-5);
	}

	@include respond-to-l {
		--space-xs: var(--space-3);
		--space-s: var(--space-4);
		--space-m: var(--space-4);
		--space-l: var(--space-5);
		--space-xl: var(--space-6);
		--space-2xl: var(--space-6);
	}

	@include respond-to-xl {
		--space-xs: var(--space-4);
		--space-s: var(--space-5);
		--space-m: var(--space-5);
		--space-l: var(--space-6);
		--space-xl: var(--space-7);
		--space-2xl: var(--space-8);
	}
}
