@use "../api" as *;
@use "sass:list";

$color-scale: 50 100 200 300 400 500 600 700 800 900 950;

$theme-names: cherries;

@mixin alias($theme-color, $palette-color) {
	--color-#{$theme-color}: var(--color-#{$palette-color});
	@each $scale-value in $color-scale {
		$scaled-color-name: #{$theme-color}-#{$scale-value};
		--color-#{$scaled-color-name}: var(
			--color-#{$palette-color}-#{$scale-value}
		);
	}
}

@mixin theme($theme-palette, $dark-palette: ()) {
	@each $theme-color, $palette-color in $theme-palette {
		@include alias($theme-color, $palette-color);
	}
	@include dark {
		@each $theme-color, $palette-color in $dark-palette {
			@include alias($theme-color, $palette-color);
		}
	}
}

@mixin create-theme($theme-name, $palette, $dark-palette: ()) {
	$theme-names: list.append($theme-name, $theme-names);
	[theme="#{$theme-name}"] {
		@include theme($palette, $dark-palette);
	}
}

:root {
	@include dark {
		--color-fill: black;
		--color-line: white;
	}
	--color-fill: white;
	--color-line: black;
	--color-link: var(--color-blue);
	--color-paper: var(--color-stone);
	--color-primary: var(--color-blue);
	--color-secondary: var(--color-stone);
	--color-good: var(--color-green);
	--color-bad: var(--color-red);
	--color-info: var(--color-yellow);
	--color-warning: var(--color-orange);
}

:root:not([theme]),
:root[theme="cherries"] {
	@include theme(
		(
			fill: "white",
			line: "black",
			link: "sky",
			paper: "rose",

			primary: "green",
			secondary: "stone",

			good: "emerald",
			bad: "pink",
			info: "sky",
			warning: "yellow",
		),
		(
			fill: "black",
			line: "white",
		)
	);
}

@include create-theme(
	mynt,
	(
		paper: "green",
		primary: "green",
		secondary: "teal",
	)
);

@include create-theme(
	sky,
	(
		paper: "blue",
		primary: "sky",
		secondary: "stone",
	)
);

:root {
	--scrollbar-width: auto;
	@include dark {
		--scrollbar-color-base: var(--color-paper-800);
		--scrollbar-color-handle: var(--color-paper-900);
	}
	--scrollbar-color-base: var(--color-paper-200);
	--scrollbar-color-handle: var(--color-paper-700);
}

* {
	scrollbar-width: var(--scrollbar-width);
	scrollbar-color: var(--scrollbar-color-handle) var(--scrollbar-color-base);
}

:root {
	--theme-names: $theme-names;
}
