@use "../api" as *;

:root {
	--family-sans: system-ui, -apple-system, sans-serif;
	--family-mono: Jetbrains Mono, Iosevka Rabbits, Iosevka, monospace;
	--font-size: 16px;
	font-size: var(--font-size);
}

.bold {
	font-weight: bolder;
}

.italic {
	font-style: italic;
}

:root,
.has-sans-font {
	font-family: var(--family-sans);
}

code,
.has-mono-font {
	font-family: var(--family-mono);
}
