html {
	font-size: 16px;
	height: 100%;
	height: 100vh;
	height: 100dvh;
	@media all and (display-mode: standalone) {
		height: 100lvh;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 20px;
	}
}

body {
	height: 100%;
	font-family: var(--family-sans);
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
