@use "styles" as *;

.card {
	@include set-var(card-radius, get-var(br-large));
	background: white;
	border-radius: get-var(card-radius);
	display: block;
	@include dark {
		background: black;
		color: white;
	}
	@include shadow(paper-200);
}

.card-item {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	background: inherit;
	color: inherit;

	&:is(a, button)[aria-current="page"] {
		background: get-color(primary-300);
		@include dark {
			background: get-color(primary-800);
		}
	}

	&:is(a, button):not([aria-current="page"]):hover {
		background: get-color(primary-50);
		@include dark {
			background: get-color(primary-950);
		}
	}

	.card > :first-child & {
		border-top-left-radius: get-var(card-radius);
		border-top-right-radius: get-var(card-radius);
	}

	.card > :last-child & {
		border-bottom-left-radius: get-var(card-radius);
		border-bottom-right-radius: get-var(card-radius);
	}

	font-weight: 500;

	> * {
		display: flex;
		gap: get-var(s1);
	}
}

.card-link-title {
	display: flex;
	padding-inline: get-var(s3);
	padding-block: get-var(s2);
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-header {
	display: flex;
	justify-content: space-between;
	padding-inline: get-var(s3);
	padding-block: get-var(s2);
	font-weight: 600;
	font-size: 1.2rem;
	border-bottom: 1px solid get-color(secondary-100);
}
