@use "styles" as *;

:root {
	--sidebar-color-fill: white;
	@include respond-to-m {
		--sidebar-color-fill: var(--color-paper-100);
	}

	--sidebar-color-line: black;
	@include dark {
		--sidebar-color-fill: black;
		--sidebar-color-line: white;
	}
}

.sidebar {
	background: var(--sidebar-color-fill);
	color: var(--sidebar-color-line);
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	top: 0;
	bottom: 0;
	overflow-y: auto;
	height: 95vh;
	width: 100vw;
	padding: 0;
	bottom: 0;
	min-width: 100vw;

	&.primary {
		left: 0;
		padding-right: 0;
	}
	&.secondary {
		right: 0;
		padding-left: 0;
	}

	--card-color-fill: var(--color-fill);
	--card-radius: 0;

	@include respond-to-m {
		padding: var(--space-xs);
		--card-radius: var(--radius-l);
		min-width: unset;
	}

	> * {
		--shadow-color: transparent;
		@include respond-to-m {
			--shadow-color: var(--color-paper-200);
		}
	}

	@include dark {
		background: black;
		color: white;
	}

	max-width: 100%;
	&[aria-expanded="false"] {
		max-width: 0;
		overflow: hidden;
		padding: 0;
		transition: max-width 0.2s linear, padding 0s 0.2s;
		display: none;
		@include respond-to-m {
			display: flex;
		}
	}

	transition: max-width 0.2s linear;
}

.sidebar-toggle {
	@include radius(m);
	padding: 0;
	margin: 2px;
	&[aria-pressed="true"] {
		background: var(--color-paper-300);
	}
}
