@use "../helpers" as *;
$theme-colors: paper primary secondary danger info link;
$color-shades: 50 100 200 300 400 500 600 700 800 900 950;

$paper: get-color("paper-100");
$primary: get-color("primary-400");
$secondary: get-color("secondary-200");
$danger: get-color("danger-500");
$info: get-color("info-500");
$link: get-color("link-500");

:root[theme="cherries"],
:root:not([theme]) {
	@include alias-colors(
		$aliases: (
			"paper": "rose",
			"primary": "green",
			"secondary": "stone",
			"info": "yellow",
			"danger": "red",
			"link": "blue",
		),
		$color-shades: $color-shades
	);
}
:root[theme="mynt"] {
	@include alias-colors(
		$aliases: (
			"paper": "green",
			"primary": "green",
			"secondary": "stone",
			"info": "yellow",
			"danger": "red",
			"link": "blue",
		),
		$color-shades: $color-shades
	);
}
:root[theme="sky"] {
	@include alias-colors(
		$aliases: (
			"paper": "blue",
			"primary": "sky",
			"secondary": "stone",
			"info": "yellow",
			"danger": "red",
			"link": "blue",
		),
		$color-shades: $color-shades
	);
}

@each $color in "white" "black" "transparent" {
	:not(:is(svg, g, path, rect)).fill-#{$color} {
		background: #{$color} !important;
	}

	:not(:is(svg, g, path, rect)).line-#{$color} {
		color: #{$color} !important;
	}

	:is(svg, g, path, rect).fill-#{$color} {
		fill: #{$color} !important;
	}

	:is(svg, g, path, rect).line-#{$color} {
		stroke: #{$color} !important;
	}
}

@each $color in paper primary secondary info danger link {
	@each $shade in $color-shades {
		:not(:is(svg, g, path, rect)).fill-#{$color}-#{$shade} {
			background-color: get-color(#{$color}-#{$shade}) !important;
		}
		:is(svg, g, path, rect).fill-#{$color}-#{$shade} {
			fill: get-color(#{$color}-#{$shade}) !important;
		}

		:not(:is(svg, g, path, rect)).line-#{$color} {
			color: get-color(#{$color}-#{$shade}) !important;
		}
		:is(svg, g, path, rect).line-#{$color}-#{$shade} {
			stroke: get-color(#{$color}-#{$shade}) !important;
		}
	}
}
