@use "../../styles/api" as *;

.folder-card-link {
	padding: get-space(m);
	position: relative;

	&:not([open]) > summary::before {
		content: "▶";
		display: block;
	}

	&[open] > summary::before {
		content: "▼";
		display: block;
	}

	summary {
		margin-left: -0.5em;
		display: flex;
		justify-content: space-between;

		a {
			flex: 1;
		}

		button {
			cursor: pointer;
		}
	}

	a {
		padding-inline: 0.5rem;
		color: var(--littlebook-line);
	}

	[aria-current="page"] {
		background: var(--littlebook-primary);
	}

	.new {
		position: absolute;
		background: var(--littlebook-fill);
		top: 0;
		right: 0;
		padding: 1rem;
		z-index: 1000;
		// @include shadow;
		border: 2px solid var(--littlebook-line);
		li button {
			padding: 1rem;
			&:hover {
				background: var(--littlebook-primary-50);
			}
		}
	}

	.folder-card-link {
		padding: get-space(xs);
	}
}
