@use "styles" as *;

.file-viewer {
	display: flex;
	flex-grow: 1;
	width: 100%;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	&.active .file-viewer-head {
		background: var(--color-primary);
		--sidebar-toggle-color-hover-fill: var(--color-primary-500);
	}
}

.file-viewer-head {
	--sidebar-toggle-color-hover-fill: var(--color-stone-50);
}

.file-viewer-head-file-name {
	font-weight: 500;
	display: flex;
	gap: var(--space-1);
}

.file-viewer-body {
	display: flex;
	flex-grow: 1;
	min-height: calc(100% - var(--headstrip-height));
}
