.document-list {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-overflow: ellipsis;
}

.document-list__button {
	width: 100%;
	text-align: left;
	padding-inline: var(--sidebar-widget-padding);
	padding-block: 0.25rem;
	cursor: default;
	user-select: none;

	&[aria-pressed="true"] {
		background: var(--carribean-current);
		color: white;
	}
	/* &[aria-pressed="mixed"] { */
	/* color: var(--carribean-current); */
	/* } */
}
