@use "styles" as *;

.editable-name {
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 1em;
	> input {
		width: 100%;
	}
}

.editable-name-editor {
	z-index: 100;
	width: 100%;
	max-width: 28ch;
	position: absolute;
	@include radius(l);
	@include ring;
	translate: calc(var(--space-1) * -1) -2px;

	font-size: 1.2rem;
	border: 4px solid black;
	> input {
		@include radius(l, left);
		outline: 0;
	}
	> button {
		background: var(--color-primary);
		@include radius(m, right);
	}
}
