@use "styles" as *;

.editable-name {
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 1em;
	text-align: left;
	font-weight: inherit;
}

.editable-name-editor {
	margin: 0;
	width: 100%;
	max-width: 22ch;
	position: absolute;
	@include ring;
	translate: calc(var(--space-1) * -1) -8px;

	font-size: 1rem;
	&,
	&.popout {
		@include radius(l);
		border: 4px solid black;
	}
	input {
		@include radius(l, left);
		outline: 0;
	}
	button {
		background: var(--color-primary);
		@include radius(m, right);
	}
}
