:root {
	--family-sans: "Jost", "Jost*", system-ui, -apple-system, sans-serif;
	--family-mono: Iosevka Rabbits, Iosevka, Jetbrains Mono, monospace;
	--font-size: 16px;
}

html {
	font-family: var(--family-sans);
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

#root {
	flex: 1;
	display: flex;
	flex-direction: column;
}

* {
	overscroll-behavior: none;
}

code,
kbd,
samp,
output {
	font-family: var(--family-mono);
}
