:root {
	--green: #33ffcc;
	--blue: #33ccff;
	--dark-blue: #03c;
	--red: #ff2a50;
	--orange: #ff7c7a;
	--mustard: #fe8;
	--lemon: #ff8;
	--f-blue: #2269ff;
	--cherries-fill: #ffe9ed;
	--cherries-line: #cc2959;

	--purple-heart: #6a0572ff;
	--pizzazz: #ff00ccff;
	--desaturated-purple: #57396a;

	--mynt: #36f9c0;
	--russian-violet: #261447ff;
	--melon: #f9b5acff;
	--melon2: rgb(255, 202, 196);
	--blue-crayola: #3772ffff;
	--sunglow: #fdca40ff;
	--flax: #f3e37c;
	--jonquil: #ffcf00;
	--viridian: #417b5a;
	--chili: #e3170a;
	--ombe: #9f2042;
	--carribean-current: #216869;

	--line: black;
	--fill: white;
}

/** app */
:root {
	--primary: var(--mynt);
	--link-line: var(--blue-crayola);
	--sidebar-fill: var(--sunglow);
}
