.intro {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background: green;
}

:root {
	--card-fill: var(--page);
	--card-line: var(--text);
}

.intro-card {
	background: var(--card-fill);
	border-radius: 1rem;
	padding: var(--space-4);
	box-shadow:
		2px 2px 0px var(--card-line),
		4px 4px 0px var(--card-line),
		-1px -1px 0px var(--card-line);
	border: 1px solid var(--card-line);
	text-align: center;
	max-width: 602px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--space-1);
}

.intro-card__actions {
	margin-top: var(--space-4);
	display: flex;
	justify-content: center;
	gap: var(--space-4);
	button.button.button {
		text-align: center;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 600px) {
	.intro-card__actions {
		flex-direction: column;
	}
}
