@use "styles" as *;

/*			"flex items-center gap-3",
 "cursor-pointer",
 "py-2 px-4",
 `hover:ring-1 rounded-lg ${scheme.ring}`,
 "active:shadow-inner",
 scheme.shadow,
 active ? "shadow-inner" : scheme.hover,
 scheme.bg[kind],
 line && active && "ring-3",
 ghost || "ring-1 hover:ring-2",
 props.class,
 props.className,
 const colors = {
	primary: {
		ring: "ring-primary-400",
		bg: {
			normal:
				"bg-primary-400 hover:bg-primary-300 dark:bg-primary-800 dark:hover:bg-paper-950",
			ghost: "bg-transparent hover:bg-primary-50 dark:hover:bg-primary-950",
			line: "bg-transparent",
		},
		shadow: "shadow-primary-500 dark:shadow-primary-950",
		hover: "hover:bg-primary-50 dark:bg-primary-950",
	},
}
 */

.button {
	display: flex;
	align-items: center;
	gap: get-var("s2");
	padding-block: get-var("s1");
	padding-inline: get-var("s2");
	appearance: none;
	background: transparent;
	border-radius: get-var("br-medium");

	@each $color-name in $theme-colors {
		&.#{$color-name} {
			@include set-var("button-color", $color-name);
			&:not(.ghost, .line),
			&:is(.ghost, .line):hover {
				background-color: color-mix(
					in srgb,
					get-color($color-name) 50%,
					get-color(#{$color-name}-200)
				);
			}

			@include ring-color(#{$color-name}-300);
			@include dark {
				@include ring-color(#{$color-name}-700);
			}

			&[aria-pressed="true"] {
				@include shadow-inset(#{$color-name}-900, 0.4);
				background-color: color-mix(
					in srgb,
					get-color($color-name) 70%,
					get-color(#{$color-name}-700)
				);
				&:hover {
					background-color: color-mix(
						in srgb,
						get-color($color-name) 80%,
						get-color(#{$color-name}-700)
					);
				}
			}
		}
	}

	&:is(:hover, .line) {
		@include ring(1);
	}
}
