.flex {
	display: flex;
}

.flex-column,
.column {
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

.grow {
	flex-grow: 1;
}

.max-h-100,
.max-h-full {
	max-height: 100%;
}

.max-w-100,
.max-w-full {
	max-width: 100%;
}

.h-100,
.h-full {
	height: 100%;
}

.min-h-full,
.min-h-100 {
	min-height: 100%;
}

.w-full,
.w-100 {
	width: 100%;
}

.min-w-full,
.min-w-100 {
	min-width: 100%;
}

.full-screen {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}
