@use "../sass" as *;
@use "sass:list";
@use "sass:map";
@use "sass:math";

$color-prefix: "color-" !default;
$color-scale: 50 100 200 300 400 500 600 700 800 900 950 !default;

@function get-color($name, $prefix: "") {
	@return get-var($name, $color-prefix);
}

@mixin set-color($name, $value, $prefix: "") {
	@include set-var(#{$prefix}#{$name}, $value, $color-prefix);
}

@mixin set-root-color($name, $value, $prefix: "") {
	:root {
		@include set-color($name, $value, $prefix);
	}
}

@mixin set-up-color($color) {
	.has-#{$color}-background {
		background: get-color($color);
	}
	.has-#{$color}-text {
		color: get-color($color);
	}
	.has-#{$color}-fill {
		fill: get-color($color);
	}
	.has-#{$color}-stroke {
		stroke: get-color($color);
	}

	.with-#{$color}-background {
		@include set-var(fill, $color, $color-prefix);
	}
	.with-#{$color}-text {
		@include set-var(line, $color, $color-prefix);
	}

	// @each $lightness in $color-scale {
	// 	@debug #{$color}-#{$lightness};
	// 	$scale: (1000 - $lightness);
	// 	$step: math.div($scale, 10);
	// 	@debug lighness $lightness scale $scale step $step;
	// 	@include set-root-var(
	// 		#{$color}-#{$scale},
	// 		color-mix(in oklch, get-color($color) #{$step * 1%}, get-color(fill)),
	// 		// okget-color($color) #{$lightness * 1%} c h,
	// 		// color-mix(in srgb, get-color($color))
	// 		$color-prefix
	// 	);

	// 	.has-#{$color}-#{$scale}-background {
	// 		background: get-color($color);
	// 	}
	// 	.has-#{$color}-#{$scale}-text {
	// 		color: get-color($color);
	// 	}
	// 	.with-#{$color}-#{$scale}-background {
	// 		@include set-var(fill, $color, $color-prefix);
	// 	}
	// 	.with-#{$color}-#{$scale}-text {
	// 		@include set-var(line, $color, $color-prefix);
	// 	}
	// }
}

$base-palette: (
	"stone-50": #f5f6f6,
	"stone-100": #e4e7e9,
	"stone-200": #ccd3d5,
	"stone-300": #a9b4b7,
	"stone-400": #7e8d92,
	"stone-500": #637277,
	"stone-600": #556065,
	"stone-700": #495255,
	"stone-800": #40464a,
	"stone-900": #393d40,
	"stone-950": #232629,
	"red-50": #fff1f2,
	"red-100": #ffdfe2,
	"red-200": #ffc5cb,
	"red-300": #ff9da7,
	"red-400": #ff6474,
	"red-500": #ff273d,
	"red-600": #ed152b,
	"red-700": #c80d20,
	"red-800": #a50f1e,
	"red-900": #881420,
	"red-950": #4b040b,

	"lime-50": #edfff5,
	"lime-100": #d5ffe9,
	"lime-200": #aeffd3,
	"lime-300": #70ffb2,
	"lime-400": #2bfd8a,
	"lime-500": #00ff74,
	"lime-600": #00c053,
	"lime-700": #009644,
	"lime-800": #06753a,
	"lime-900": #076032,
	"lime-950": #00371a,

	"green-50": #e9fff7,
	"green-100": #cbffeb,
	"green-200": #9bffdb,
	"green-300": #36f9c0,
	"green-400": #1becb6,
	"green-500": #00d2a2,
	"green-600": #00d4a0,
	"green-700": #008a6d,
	"green-800": #006c57,
	"green-900": #005949,
	"green-950": #00322c,

	"emerald-50": #ebfef7,
	"emerald-100": #cffce9,
	"emerald-200": #a4f6d8,
	"emerald-300": #69ecc4,
	"emerald-400": #2ddaab,
	"emerald-500": #09c598,
	"emerald-600": #009c79,
	"emerald-700": #007d64,
	"emerald-800": #026351,
	"emerald-900": #035143,
	"emerald-950": #002e27,

	"teal-50": #edfefd,
	"teal-100": #d2fbfa,
	"teal-200": #aaf7f7,
	"teal-300": #6ff0f1,
	"teal-400": #2ddfe3,
	"teal-500": #11c2c9,
	"teal-600": #119ba9,
	"teal-700": #157c89,
	"teal-800": #1a6470,
	"teal-900": #1a535f,
	"teal-950": #0b3841,

	"cyan-50": #ebfffd,
	"cyan-100": #cdfffe,
	"cyan-200": #a1feff,
	"cyan-300": #74faff,
	"cyan-400": #1aebf6,
	"cyan-500": #00cedc,
	"cyan-600": #01a4b9,
	"cyan-700": #098295,
	"cyan-800": #116879,
	"cyan-900": #135666,
	"cyan-950": #063946,

	"sky-50": #eff9ff,
	"sky-100": #dff3ff,
	"sky-200": #b8e8ff,
	"sky-300": #78d7ff,
	"sky-400": #31c3ff,
	"sky-500": #06acf1,
	"sky-600": #0089ce,
	"sky-700": #006ea7,
	"sky-800": #025c8a,
	"sky-900": #084d72,
	"sky-950": #06304b,

	"blue-50": #eef7ff,
	"blue-100": #d9ebff,
	"blue-200": #bcddff,
	"blue-300": #8ec9ff,
	"blue-400": #59aaff,
	"blue-500": #3388ff,
	"blue-600": #1b67f5,
	"blue-700": #1452e1,
	"blue-800": #1742b6,
	"blue-900": #193b8f,
	"blue-950": #142557,

	"indigo-50": #fcf7fc,
	"indigo-100": #f9edfa,
	"indigo-200": #f2dbf3,
	"indigo-300": #e9bee7,
	"indigo-400": #db97d7,
	"indigo-500": #c76dc2,
	"indigo-600": #aa4fa3,
	"indigo-700": #8c3f84,
	"indigo-800": #73356c,
	"indigo-900": #602f5a,
	"indigo-950": #3d1539,

	"purple-50": #f5f3ff,
	"purple-100": #eee9fe,
	"purple-200": #ded6fe,
	"purple-300": #c6b5fd,
	"purple-400": #aa8bfa,
	"purple-500": #9767f7,
	"purple-600": #813aed,
	"purple-700": #7228d9,
	"purple-800": #5f21b6,
	"purple-900": #4f1d95,
	"purple-950": #301065,

	"fuchsia-50": #fff3fe,
	"fuchsia-100": #ffe6fe,
	"fuchsia-200": #ffccfc,
	"fuchsia-300": #ffa3f8,
	"fuchsia-400": #ff6df1,
	"fuchsia-500": #ff21f2,
	"fuchsia-600": #e316d2,
	"fuchsia-700": #bd0eac,
	"fuchsia-800": #9a0e8b,
	"fuchsia-900": #7e116f,
	"fuchsia-950": #55004a,

	"pink-50": #fef1f7,
	"pink-100": #fee5f0,
	"pink-200": #ffcae4,
	"pink-300": #ff9fcb,
	"pink-400": #ff63a7,
	"pink-500": #ff408b,
	"pink-600": #f0125f,
	"pink-700": #d10545,
	"pink-800": #ad0739,
	"pink-900": #8f0c34,
	"pink-950": #580019,

	"rose-50": #fff1f4,
	"rose-100": #ffe9ed,
	"rose-200": #fecdd8,
	"rose-300": #fda4b9,
	"rose-400": #fb7194,
	"rose-500": #e11d5d,
	"rose-600": #cc2959,
	"rose-700": #b81e47,
	"rose-800": #981c3b,
	"rose-900": #7f1c35,
	"rose-950": #4d0a1b,

	"yellow-50": #fefbe8,
	"yellow-100": #fff6c2,
	"yellow-200": #ffec8a,
	"yellow-300": #ffd945,
	"yellow-400": #fcc313,
	"yellow-500": #ecaa06,
	"yellow-600": #cc8302,
	"yellow-700": #a25b06,
	"yellow-800": #86480d,
	"yellow-900": #723b11,
	"yellow-950": #431d05,

	"orange-50": #fff7ec,
	"orange-100": #ffedd3,
	"orange-200": #ffd8a5,
	"orange-300": #ffbb6d,
	"orange-400": #ff9232,
	"orange-500": #ff730a,
	"orange-600": #ff5900,
	"orange-700": #cc3e02,
	"orange-800": #a1310b,
	"orange-900": #822b0c,
	"orange-950": #461204,

	"red": #ff273d,
	"yellow": #ffec8a,
	"orange": #ff5900,
	"lime": #00ff74,
	"green": #36f9c0,
	"emerald": #09c598,
	"teal": #1a6470,
	"sky": #78d7ff,
	"blue": #3388ff,
	"indigo": #c76dc2,
	"purple": #7228d9,
	"fuchsia": #ff21f2,
	"pink": #ff408b,
	"rose": #ffe9ed,
	"cyan": #1aebf6,
	"stone": #40464a,
) !default;

// @include set-root-vars($base-palette, $color-prefix);
@each $color, $color-value in $base-palette {
	// todo when firefox nightly becomes firefox normal
	// @include set-root-var($color, oklch(from $color-value l c h), $color-prefix);
	@include set-root-var(
		$color,
		color-mix(in oklch, $color-value, $color-value),
		$color-prefix
	);
}

@include set-root-vars(
	(
		fill: get-color("fill"),
		line: get-color("line"),
	),
	"#{$color-prefix}-page-"
);

@include set-root-vars(
	(
		"black": black,
		"white": white,
		"transparent": transparent,
	),
	$color-prefix
);

@include set-up-color("white");
@include set-up-color("black");
@include set-up-color("transparent");

@each $color in map.keys($base-palette) {
	@include set-up-color($color);
}
