@use "../sass" as *;
@use "spacing" as *;
@use "colors" as *;
@use "sass:math";
@use "sass:map";

$shadow-prefix: "shadow-";

$shadows: (
	xs: (
		x: 0,
		y: 1px,
		spread: 2px,
		offset: 0,
	),
	s: (
		x: 0,
		y: 1px,
		spread: 3px,
		offset: 0,
	),
	default: (
		color: color-mix(in oklch, get-color(fill), get-color(line)),
		x: 0,
		y: 4px,
		spread: 6px,
		offset: -1px,
	),
	l: (
		x: 0,
		y: 6px,
		spread: 12px,
		offset: -4px,
	),
	xl: (
		x: 0,
		y: 18px,
		spread: 24px,
		offset: -6px,
	),
) !default;

@include set-root-vars(map.get($shadows, default), $shadow-prefix);
@function get-shadow-var($prop) {
	@return get-var($prop, $shadow-prefix);
}
@mixin set-shadow-var($prop, $value) {
	@include set-var($prop, $value, $shadow-prefix);
}

@mixin set-shadow-direct($shadow: default) {
	@include set-vars($shadow, $shadow-prefix);
}
@mixin set-shadow($shadow-name: default) {
	@include set-shadow-direct(map.get($shadows, $shadow-name));
}

@mixin shadow {
	box-shadow: get-shadow-var(color) get-shadow-var(x) get-shadow-var(y)
		get-shadow-var(spread) get-shadow-var(offset);
}

// todo .has-large-shadow {
//}

/* todo
$ring-prefix: "ring-";
$default-ring: (
		"offset": 0,
		inset: "",
		color: get-color("highlight"),
		size: 0,
	)!default;

@include set-root-vars(
	$default-ring,
	$ring-prefix
);
@function get-ring-var($prop) {
	@return get-var($prop, $ring-prefix);
}
@mixin set-ring-var($prop, $value) {
	@include set-var($prop, $value, $ring-prefix);
}
@mixin set-ring($ring) {
	@include set-vars($ring, $ring-prefix);
}

@mixin ring() {
	box-shadow: get-ring-var(inset) 0 0 0 get-ring-var(size) get-ring-var(color);
}

// todo
.has-ring {
}

 */
