@use "../helpers" as *;
@use "sass:math";

@mixin shadow-small($color, $opacity: 1) {
	$opacity-percent: "#{$opacity * 100}%";
	box-shadow: color-mix(
			in srgb,
			get-color($color) #{$opacity-percent},
			transparent
		)
		0px get-var(s1) get-var(s2);
}

@mixin shadow($color, $opacity: 1) {
	$opacity-percent: "#{$opacity * 100}%";
	box-shadow: color-mix(
			in srgb,
			get-color($color) #{$opacity-percent},
			transparent
		)
		0px get-var(s2) get-var(s3);
}

@mixin shadow-inset($color, $opacity: 1) {
	$opacity-percent: "#{$opacity * 100}%";
	box-shadow: inset
		color-mix(in srgb, get-color($color) #{$opacity-percent}, transparent) 0px
		0px 4px;
}

@mixin shadow-massive($color, $opacity: 1) {
	$opacity-percent: "#{$opacity * 100}%";
	box-shadow: color-mix(
			in srgb,
			get-color($color) #{$opacity-percent},
			transparent
		)
		0px get-var(s4) get-var(s5);
}

@mixin ring-inset {
	@include set-var(ring-inset, inset);
}

// @mixin ring-offset($offset: 0) {
// 	@include set-var(ring-offset, $offset * 1px);
// }

@mixin ring-color($color) {
	@include set-var(ring-color, get-color($color));
}

@mixin ring($size: 3) {
	// $offset: calc(0px + ($size * 1px) + get-var(ring-offset));
	box-shadow: get-var(ring-inset) 0 0 0 ($size * 1px) get-var(ring-color);
}
