@use "colors" as *;
@use "../sass" as *;
@use "sass:list";
// todo is it weird that this file uses the $color-prefix?

// todo i don't know design terminology. is primary "rose" or is that secondary?
// is primary "white" ? and then rose secondary? idk
// todo decide if secondary is even necesary
$semantic-color-names: paper primary secondary;
$status-color-names: good bad info warning;
$use-case-color-names: fill line link;
$theme-color-names: list.join(
	list.join($semantic-color-names, $status-color-names),
	$use-case-color-names
);

@each $color in $theme-color-names {
	@include set-up-color($color);
	@each $scale-value in $color-scale {
		.has-#{$color}-#{$scale-value}-background {
			background: get-color(#{$color}-#{$scale-value});
		}
		.has-#{$color}-#{$scale-value}-text {
			color: get-color(#{$color}-#{$scale-value});
		}
		.with-#{$color}-#{$scale-value}-background {
			@include set-var(fill, #{$color}-#{$scale-value}, $color-prefix);
		}
		.with-#{$color}-#{$scale-value}-text {
			@include set-var(line, #{$color}-#{$scale-value}, $color-prefix);
		}
	}
	// @each $lightness in $color-scale {
	// 	@debug #{$color}-#{$lightness};
	// 	$scale: (1000 - $lightness);
	// 	$step: math.div($scale, 10);
	// 	@debug lighness $lightness scale $scale step $step;
	// 	@include set-root-var(
	// 		#{$color}-#{$scale},
	// 		color-mix(in oklch, get-color($color) #{$step * 1%}, get-color(fill)),
	// 		// okget-color($color) #{$lightness * 1%} c h,
	// 		// color-mix(in srgb, get-color($color))
	// 		$color-prefix
	// 	);
	// }
}

@mixin alias($theme-color, $palette-color) {
	@include set-var($theme-color, get-color($palette-color), $color-prefix);
	@include set-up-color($theme-color);
	@each $scale-value in $color-scale {
		$scaled-color-name: #{$theme-color}-#{$scale-value};
		@include set-up-color($scaled-color-name);
		@include set-var(
			$scaled-color-name,
			get-color(#{$palette-color}-#{$scale-value}),
			$color-prefix
		);
	}
}

@mixin theme($theme-palette) {
	@each $theme-color, $palette-color in $theme-palette {
		@include alias($theme-color, $palette-color);
	}
}

@mixin create-theme($theme-name, $palette) {
	:root[theme="#{$theme-name}"] {
		@include theme($palette);
	}
}

$base-theme: (
	fill: "white",
	line: "black",
	link: "blue",
	paper: "stone",
	primary: "blue",
	secondary: "stone",
	good: "green",
	bad: "red",
	info: "yellow",
	warning: "orange",
) !default;

@include set-root-vars($base-theme, $color-prefix);

:root:not([theme]),
:root[theme="cherries"] {
	@include theme(
		(
			fill: "white",
			line: "black",
			link: "sky",
			paper: "rose",

			primary: "green",
			secondary: "stone",

			good: "emerald",
			bad: "pink",
			info: "sky",
			warning: "yellow",
		)
	);
}

@include create-theme(
	"mynt",
	(
		"paper": "green",
		"primary": "green",
		"secondary": "teal",
	)
);

@include create-theme(
	"sky",
	(
		"paper": "blue",
		"primary": "sky",
		"secondary": "stone",
	)
);

@mixin dark() {
	:root[color-scheme="dark"] {
		@content;
	}
	@media (prefers-color-scheme: dark) {
		@content;
	}
}

$scrollbar-width: thin !default;
@include set-root-var(width, $scrollbar-width, scrollbar-);
$scrollbar-base-color: get-color(paper-900);
$scrollbar-handle-color: get-color(paper-900);
@include set-root-color(base, get-color(paper-200), scrollbar-);
@include set-root-color(handle, get-color(paper-700), scrollbar-);

* {
	scrollbar-width: get-var(width, scrollbar-);
	scrollbar-color: get-color(scrollbar-handle) get-color(scrollbar-base);
}
